
logs
/logs
/tests/scripts/output/*
dist
/target
metrics/*

# Added by cargo
#
# already existing elements were commented out

#/target
Dockerfile
.dockerignore

# Remove config files, create seperate repository(?) for example configurations.
*.json